.buy-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: #f8fafc;
}

/* LEFT */
.upload-box {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.upload-box h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* UPLOAD AREA */
.upload-area {
  border: 2px dashed #22c55e;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  margin: 20px 0;
  transition: 0.3s;
}

.upload-area img {
  width: 70px;
  margin-bottom: 10px;
}

.upload-area:hover {
  background: #f0fdf4;
}

.file-name {
  margin: 10px 0;
  font-size: 14px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #16a34a;
}

/* STEPS */
.steps {
  margin-top: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #475569;
}

/* RIGHT */
.info-box {
  flex: 1;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.category-pill {
  background: #fee2e2;
  color: #b91c1c;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
}

/* NOTE */
.note {
  margin-top: 20px;
  background: #ecfdf5;
  padding: 10px;
  border-radius: 8px;
  color: #065f46;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
}

.popup-box span {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  color: #64748b;
}

.success-box {
  width: 350px;
}

.success-icon {
  margin-bottom: 15px;
}

.success-box p {
  color: #475569;
  font-size: 14px;
  margin: 10px 0 20px 0;
  line-height: 1.5;
}