.top-header {
  background: #0a3d62;
  color: #fff;
  font-size: 13px;
  padding: 6px 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .top-header {
    display: none;
  }
}